* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  width: 100%;
  max-width: 948px;
  background-color: white;
}

.top {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(72, 72, 72);
}

.close-btn:hover {
  color: black;
  background-color: rgb(229, 229, 229);
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  overflow: hidden;
  margin: 0 40px 0 40px;
}

.left img {
  width: 100%;
}

.middle {
  display: flex;
  justify-content: center;
  margin: 40px 10px 80px;
  flex-wrap: wrap;
}

.right {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.right h3 {
  padding: 0 5px;
  color: #008001;
  font-size: 8rem;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.right h2 {
  font-size: 1.5rem;
  color: #008001;
}

.right p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

.home-btn {
  display: inline-block;
  background-color: #008001;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  box-shadow: 1px 1px 1px #6ec700;
}

.home-btn:hover {
  background-color: #007400;
  box-shadow: 1px 1px 1px #283f0c;
  text-shadow: 1px 1px black;
}
